@import "/bootstrapLess/bootstrap.less";
@import "/bootstrapLess/responsive.less";

//Variables
	@navbarBackgroundHighlight: @yellow;

body {
	height: 100%;
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=e2e2e2ff&noise=626262&density=14&opacity=13');
}
.navbar {
	height: 40px;
	background-color: @navbarBackgroundHighlight;
}
#wrapper {
	width: 90%;
	margin: 0 auto;
	.centered {
		text-align: center;
	}
	.labelTitle{
		font-size: 14px;
	}
	.formSection {
		.emailInput {
			min-height:40px;
		}
		.emailField {
			margin-top: 10px;
		}
		.btnSubmit {
			height: 40px;
			margin-top: 10px;
		}
		.error {
			background-color: @red;
			border-radius: 5px;
			padding: 10px;
			text-align: center;
			color: @white;
			font-weight: bold;
		}
	}
}


// Responsivity 

    /* Large desktop */
    @media (min-width: 1200px) {

    }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {

    }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {

    }
     
    /* Landscape phones and down */
    @media (max-width: 480px) {

    }
