@(message: String)(positionForm : Form[PositionForm])
@import helper._

@main("Travelling Totem") {
    
    @*@play20.welcome(message, style = "Java")
*@
<div class="page-container">
	<div class="navbar navbar-fixed-top">
	 <div class="navbar-inner">
		<a class="brand" href="#">Follow the Totem !</a>
	 </div>
	</div>
	<div id="wrapper" class="container-fluid">
    	<div class="row-fluid">
	    	<h2 class="introduction">
	    		Hello world, I'm the travelling totem ! Someone awesome brought me to you, lucky bastard ! Now it's time to check in : )
	    	</h2>
	    </div>
    	<div class="row-fluid formSection">
			@helper.form(action = routes.Application.submit()) {
    		    <fieldset>
				    <h3>Check Point</h3>
				    	<label>Location</label>
				    	<i class="icon-location-arrow"></i><span id="geolocation"></span>
				       	@inputText(
                			positionForm("mail"),
                			'_showConstraints -> false,
                			'_label -> "Email adresse"
            			)
					    @textarea(positionForm("someText"),
					    	'rows -> 3, 
					    	'cols -> 50,
					    	'_label -> "Leave a message"
					    )

					    <label class="checkbox">
					    	<input type="checkbox">Receive news about my travel
					    </label>

					    <button type="submit" class="btn btn-primary btn-block">Submit</button>
			    </fieldset>
			}
    	</div>
  	</div>  
</div>



}
