@(message: String)

@main("Travelling Totem") {
    
    @*@play20.welcome(message, style = "Java")
*@
<div class="page-container">
	<div class="navbar navbar-fixed-top">
	 <div class="navbar-inner">
		<a class="brand" href="#">Follow the Totem !</a>
	 </div>
	</div>
	<div id="wrapper" class="container-fluid">
    	<div class="row-fluid">
	    	<h2 class="introduction">
	    		~ Aloha ! ~    
	    	</h2>
	    	<h3 class="introduction">
	    		Be part of my travel
	    	</h3>
	    </div>
    	<div class="row-fluid formSection">
    		<form>
    		    <fieldset>
			    	<label><i class="icon-location-arrow"></i>  Here you are</label>
				    	
				    	<span id="geolocation">Longitude / Latitude</span>
			   
				    <label class="emailField">What's your @@ email ?</label>
				    <input class="span12 emailInput" type="text" placeholder="totem@@totem.com">
				    <label>Leave me a cool message !</label>
				    <textarea class="span12" type="text" placeholder="What's on your mind ?" rows="5"></textarea>
				    <label class="checkbox">
				    	<input type="checkbox">Receive updates about my travel
				    </label>

				    <button type="submit" class="btn btn-success btn-block btnSubmit">Submit</button>
			    </fieldset>
		    </form>
    	</div>
  	</div>  
</div>



}
