@(message: String)(PositionForm : Form[PositionForm])
@import helper._

@main("Travelling Totem") {
    
    @*@play20.welcome(message, style = "Java")
*@
<div class="page-container">
	<div class="navbar navbar-fixed-top">
	 <div class="navbar-inner">
		<a class="brand" href="#">Wimha's Totem</a>
	 </div>
	</div>
	<div id="wrapper" class="container-fluid">
    	<div id="detailSection" class="row-fluid">
	    	<h2 class="centered">
	    		~ ALOHA ! ~    
	    	</h2>
			<div class="asterisk centered"> * </div>
	    	<h3 class="centered">
	    		I'm traveling the world thanks to awesome people I meet ! 
	    	</h3>
			<div class="asterisk centered"> * </div>
	    	<h3 class="centered">
	    		Discover where I've been and be part of my trip ! 
	    	</h3>
	    	<div class="row-fluid">
	    		<button class="btn btn-block btn-primary btn-start">
	    			Start !
	    		</button>
	    	</div>
	    </div>
	    <div id="messagesSection" class="row-fluid hide">

	    </div>
    	<div id="formSection" class="row-fluid hide">
    		<h2 class="centered">
	  			~ Now it's your turn to enter the adventure ! ~
			</h2>
			<form id="form" method="POST">
    		    <fieldset>
					<div class="asterisk centered"> * </div>

				    <label class="nameField centered labelTitle">What's your name ?</label>
				    <input id="name" name="name" class="span12 nameInput" type="text" placeholder="John">

			    	<div class="asterisk centered"> * </div>

			    	<label class="centered labelTitle">Let us know where you are</label>
				    <div class="btn btn-block btn-loc">
				    	<i class="icon-location-arrow"></i>  Click here
				    </div>
				    <p id="demo" class="centered hide">Longitude / Latitude</p>
				    <input id="lat" name="lat" type="hidden">
				    <input id="lon" name="lon" type="hidden">

				    <div class="asterisk centered"> * </div>

				    <label class="emailField centered labelTitle">What's your @@ email ?</label>
				    <input id="mail" name="mail" class="span12 emailInput" type="text" placeholder="totem@@totem.com">
				    
				    <div class="asterisk centered"> * </div>

				    <label class="centered labelTitle">Leave me a cool message !</label>
				    <textarea id="message" name="message" class="span12" type="text" placeholder="What's on your mind ?" rows="5"></textarea>
				    <a class="btn btn-success btn-block btnSubmit">Submit</a>
			    </fieldset>
			</form>
    	</div>
    	<div id="feedbackSection" class="row-fluid hide">
    		<h2 class="centered">
	    		~ Well done ! ~    
	    	</h2>
    		<div class="row-fluid">
				<h3> userName <span class="italic fontSmall">Time stamp</span></h3>
			</div>
			<p class="centered"><i class="icon-map-marker"></i> Lat : XXX / Long : YYY</p>
			<p class="centered italic"><i class="icon-quote-left"></i>  YOYOYOOYOYOY  <i class="icon-quote-right"></i></p>
			</br>
			<div class="asterisk centered"> * </div>    		

    		<h2 class="centered">
	    		~ Would you like to share this moment with your friends ? ~    
	    	</h2>
    	</div>
  	</div>  
</div>



}
