@(message: String)(PositionForm : Form[PositionForm])
@import helper._

@main("Travelling Totem") {
    
    @*@play20.welcome(message, style = "Java")
*@
<div class="page-container">
	<div class="navbar navbar-fixed-top">
	 <div class="navbar-inner">
		<a class="brand" href="#">Wimha's Totem</a>
	 </div>
	</div>
	<div id="wrapper" class="container-fluid">
    	<div id="detailSection" class="row-fluid">
	    	<h2 class="centered">
	    		~ Aloha ! ~    
	    	</h2>
			<div class="asterisk centered"> * </div>
	    	<h3 class="centered">
	    		I'm traveling the world thanks to awesome people I meet ! 
	    	</h3>
			<div class="asterisk centered"> * </div>
	    	<h3 class="centered">
	    		Discover where I've been and be part of my trip ! 
	    	</h3>
	    	<div class="row-fluid">
	    		<button class="btn btn-block btn-primary btn-start">
	    			Start !
	    		</button>
	    	</div>
	    </div>
	    <div id="messagesSection" class="row-fluid hide">

	    </div>
    	<div id="formSection" class="row-fluid hide">
			<form id="form" method="POST">
    		    <fieldset>
			    	<div class="asterisk centered"> * </div>
			    	<label class="centered labelTitle"><i class="icon-location-arrow"></i>  Here you are</label>
				    	
				    <p id="demo" class="centered">Longitude / Latitude</p>
			   
				    <div class="asterisk centered"> * </div>

				    <label class="emailField centered labelTitle">What's your @@ email ?</label>
				    <input id="mail" name="mail" class="span12 emailInput" type="text" placeholder="totem@@totem.com">
				    
				    <div class="asterisk centered"> * </div>

				    <label class="centered labelTitle">Leave me a cool message !</label>
				    <textarea id="message" name="message" class="span12" type="text" placeholder="What's on your mind ?" rows="5"></textarea>
				    <label class="checkbox">
				    	<input type="checkbox">Receive updates about my travel
				    </label>
				    <input id="lat" name="lat" type="hidden">
				    <input id="lon" name="lon" type="hidden">
				    <a class="btn btn-success btn-block btnSubmit">Submit</a>
			    </fieldset>
			</form>
    	</div>
  	</div>  
</div>



}
